.array {
	text-align: center;
	font-size: 3em;
}

.array .arr_elem:after {
	content: ",";
}

.peon img {
	width: 100%;
	opacity: 0;
}

.greyed {
	opacity: 0.7;
}

h3 a {
	color: grey;
}

h3 a:hover {
	text-decoration: none;
}

.dash button {
	display: inline-block;
}